*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(201, 229, 241);
    border-color: black;
}
.logo{
    display: flex;
    align-items: center;
}

span{
    padding: 10px;
    color: rgb(23, 114, 156);
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(70, 37, 131);
}

button{
    border-radius: 12px;
    color:white;
    background-color: rgb(67, 21, 110);
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
}

.text,
.findmeaning,
.finalresult{
    color: white;
    padding: 10px;
}

#text,
#result{
    padding: 10px;
}

footer{
    background-color: rgb(137, 79, 155);
    border-color: black; 
    position: fixed;
    left:0;
    bottom:0;
    color: white;
    text-align: center;
    width: 100%;
    height:30px;
}


